.bar {
    -fx-background-color: #00A6D6;
}

.hyperlink:hover {
    -fx-underline: false;
}

.hyperlink {
    -fx-border-color: transparent;
}

.button:hover {
    -fx-cursor: hand;
}

#title {
    -fx-font-size: 22;
    -fx-text-fill: white;
}

#page {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-text-origin: bottom;
    -fx-content-display: bottom;
    -fx-label-padding: 3 0 0 -4;
}

.buttons {
    -fx-background-color: #00A6D6;
    -fx-text-fill: white;
    -fx-font-size: 12;
}

.buttons:hover {
    -fx-background-color: #007ba0;
}

#big {
    -fx-font-size: 16;
    -fx-pref-width: 90;
    -fx-padding: 3 10;
}

.labeltext {
    -fx-font-size: 14;
}

#pagetitle {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#backBtn {
    -fx-background-color: none;
    -fx-font-size: 14;
    -fx-padding: 7 15;
}

#backBtn:hover {
    -fx-background-color: rgba(106, 123, 127, 0.18);
}

#loginbtn {
    -fx-background-color: #00A6D6;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

#loginbtn:hover {
    -fx-background-radius: 4%;
    -fx-background-color: #007ba0;
}

#errorfield {
    -fx-text-fill: red;
}

.buildingAddress {
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-fill: black;
}

.buildingName {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.sidebar-item {
    -fx-pref-width: 100;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-padding: 10 0 10 10;
}

.sidebar-item:hover {
    -fx-background-color: rgba(106, 123, 127, 0.3);
    -fx-text-fill: black;
    -fx-underline: false;
}

.sidebar-icon {
    -fx-background-color: none;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-pref-width: 100;
}

#sidebar {
    -fx-background-color: rgba(106,123,127,0.18);
}

#menubtn {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.menu-button {
    -fx-background-color: none;
}

.menu-button .label {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.menu-button:hover {
    -fx-background-radius: 4%;
    -fx-background-color: #007ba0;
    -fx-cursor: hand;
}

.menu-item:focused {
    -fx-background-color: #00A6D6;
}

.menu-item .label {
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: normal;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.gridblock {
    -fx-background-color: rgba(106, 123, 127, 0.18);
    -fx-border-radius: 3%;
    -fx-background-radius: 3%;
}

.gridblock:hover {
    -fx-background-color: rgba(106, 123, 127, 0.3);
}

.fooditem {
    -fx-background-color: rgba(106, 123, 127, 0.18);
}

.scroll-pane {
    -fx-background-color: transparent;
}

#orderbtn {
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-background-color: #00A6D6;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#orderbtn:hover {
    -fx-background-color: #007ba0;
}

#carttitle {
    -fx-font-size: 18;
}

.buildingList {
    -fx-text-fill: black;
}

.buildingList:focused {
    -fx-text-fill: black;
}

#backButton {
    -fx-background-color: none;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 5 15;
}

#backButton:hover {
    -fx-background-color: #007ba0;
}

#text {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-fill: black;
}

#roomRName {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#roomRDetails {
    -fx-font-size: 14;
}

#reserveButton {
    -fx-background-color: #00A6D6;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

#reserveButton:hover {
    -fx-background-color: #007ba0;
}

#toggleFilter {
    -fx-background-color: transparent;
    -fx-padding: 8 10;
}

#toggleFilter:hover {
    -fx-background-color: rgba(106, 123, 127, 0.18);
}

#filterBar {
    -fx-background-color: rgba(106, 123, 127, 0.18);
}

#removeFilters {
    -fx-padding: 0;
    -fx-text-fill: #00A6D6;
}

#removeFilters:hover {
    -fx-text-fill: #007ba0;
}

#filterBtn {
    -fx-padding: 7 20;
    -fx-font-size: 14;
}

#onlyStaff {
    -fx-font-style: italic;
}

#searchButton {
    -fx-background-color: none;
}

#searchField {
    -fx-text-fill: white;
    -fx-background-color: white, #00A6D6;
}

#searchField:focused {
    -fx-text-fill: white;
    -fx-background-color: white, #00A6D6;
}

